html {

}
body {
    padding: 0px;
    margin: 0px;
    font-family: verdana;
    font-size:12px;
}
form {
	margin:0;
}
img {
	border:0;
}

/* === Convenience Classes === */
.hidden {
    display: none;
}

.clear {
    clear: both;
}


.occupantDetailsArea{
	margin-bottom:20px;
}


/********** PETTY CASH List **********/

.headingRightJustified{
	text-align: right;
	font-size: 20px;
	font-weight: bold;
} 

.smallIcon{
	height:18px;
	width:18px;
}


.lightGrey{
	background-color: #F1F1F1;
}

.incomeSourceNotes{
	height:50px;
	width:100%;
}

.selectedOccupantNotes{
	height:80px;
	width:90%;
}
