<?php include "header.html"; ?>

<form action="" method="<?php echo $controller->formMethod(); ?>" name="mainForm" id="mainForm" enctype="multipart/form-data">
    <input type="hidden" name="page" value="" id="page">
    <input type="hidden" name="action" value="" id="action">
	<input type="hidden" name="transactionID" value="<?php echo safeValue($_SESSION, "transactionID"); ?>" id="transactionID">
	<div style="width:90%; margin-left: auto; margin-right: auto;">
	<div>
		Current Investment Portfolio: <?php echo $controller->currentInvestmentPortfolio()->field("name"); ?>
	</div>
	<?php if ($controller->errorMessage) : ?>
		<div id="errorMessage">
			<?php echo $controller->errorMessage; ?>
		</div>
	<?php endif; ?>

	<?php if ($controller->alertMessage) : ?>
		<div id="alertMessage">
			<?php echo $controller->alertMessage; ?>
		</div>
	<?php endif; ?>
	
	<?php $controller->renderInnerTemplate(); ?>
	</div>
</form>