
<input type="hidden" name="selectedID" value="<?php echo $controller->formValueForKey("selectedID"); ?>" id="selectedID">
<input type="hidden" name="currentView" value="<?php echo $controller->formValueForKey("currentView"); ?>" id="currentView">
<input type="hidden" name="selectedIncomeSourceID" value="<?php echo $controller->formValueForKey("selectedIncomeSourceID"); ?>" id="selectedIncomeSourceID">
	<div class="tabular scrollableArea" style="height:600px;">
					<table class="table " border="0" cellpadding="0" cellspacing="0">
						<tr class="tableHead">
							<td style="width:60px"></td>
							<td style="width:120px">Payment Status</td>
							<td style="width:120px">Due Date</td>
							<td style="width:300px">Details</td>
							<td style="width:200px">Rental Dates</td>
							<td style="width:200px">Occupant</td>
						</tr>
						<?php $unpaidIncomeLineItems = $controller->investmentPortfolio()->unpaidIncomeLineItems(); foreach($unpaidIncomeLineItems as $incomeLineItem) : ?>
						<tr class="<?php echo $incomeLineItem->cssString() ?> <?php if ($controller->rowFlipper()) echo "lightGrey";?>">
							<td><?php 
								addSubmitButtonWithActions("View", array("page" => "AssetDetails", "action" => "doNothing", "selectedID" => $incomeLineItem->valueForKeyPath("incomesource.assetID"), "currentView" => "Income", "selectedIncomeSourceID" =>$incomeLineItem->valueForKeyPath("incomesource.incomeSourceID"))); ?></td>
							<td class="status"><?php echo $incomeLineItem->status(); ?></td>
							<td><?php echo $incomeLineItem->fromDateFormatted(); ?></td>
							<td><?php echo $incomeLineItem->assetAndSourceName(); ?></td>
							<td><?php echo $incomeLineItem->toAndFromString(); ?></td>
							<td><?php echo $incomeLineItem->safeOccupantDisplay() ?></td>
						</tr>
						<?php endforeach; ?>
					</table>
         		</div>