<div class="modal fade" id="mediaUpload" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
		 
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="uploadModalLabel">
					<?php echo $controller->title; ?>
				</h4>
			</div>
			<div class="modal-body">
				
				<?php $controller->uploader->appendToResponse(); ?>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button> 
			</div>
		</div>

	</div>

</div>	